 @font-face{
	font-family:'introrustg-base2line';
	src:url('font/introrustg-base2line.otf') format('truetype');
	
}
@font-face{
	font-family:'KaushanScript-Regular';
	src:url('font/KaushanScript-Regular.otf') format('truetype');
	
}

